<%#Starting Page%>
<p> <%= @description %> </p>
<% if @option_a %>
	<a href="/dontgo"> Don't go to school at all</a>
<% elsif @option_b %>
	<a href="/drive">  Drive </a>
<% elsif @option_c %> 
	<a href="/train">  Train </a>
<%elsif @option_d %>
	<a href = "/bus"> Bus </a>
<%elsif @option_e %>
	<a href = "/walk"> Walk </a>
<% end %>

<%#Drive:%>
<p> <%= @description %> </p>
<% if @option_a %>
	<a href = "/Take_train"> Run so you don't miss the next stop! </a>
<% elsif @option_b %>
	<a href = "/Take_bus"> Next bus comes in 5 minutes, hurry up!  </a>
<% elsif @option_c
<a href = "/Stay_home"> Enjoy your day of hookey </a>



Dont go:
<p> <%= @description %> </p>


<a href = "Enjoy your day off!" </a>

bus: 
<p> <%= @description %> </p>


<a href = "/Go_home"> Run home before the storm hits. </a>
<a href = "/Wait_it_out"> Wait and hope the storm doesn't hit!  </a>

Index
<h1> Welcome to the "Going to School" adventure! </h1> 
<h2> Click to get started </h2>

<a href="/startingpage"> Start </a>



Train
<p> <%= @description %> </p>


<a href = "/Go_home"> Run home before the storm hits. </a>
<a href = "/Wait_it_out"> Wait and hope the storm doesn't hit!  </a>


Walk
<p> <%= @description %> </p>


<a href = "/Starbucks"> Dash into the nearest Starbucks </a>
<a href = "/ContinueWalking"> Continue Walking </a>
